.navBar {
    border: 1px solid black;
    padding: 25px;
}

.firstContainer {
    height: 700px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.firstContainer .fadeBg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    width: 100%;
    height: 100%;
}

.firstContainer span {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F5A623 ;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.firstContainer h1 {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .firstContainer h1 {
        color: white;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }
}

.firstContainer h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.secondContainer {
    width: 100%;
    padding: 40px;
}

.secondContainer img {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.thirdContainer {
    width: 100%;
    top: 0;
    left: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url("img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.fourthContainer {
    width: 100%;
    padding: 40px;
}

.fourthContainer span {
    padding: 10px;
    border-radius: 10%;
    background-color: #F5A623;
    color: white;
}

.fifthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    padding: 40px 150px 40px 150px;
}

.footer {
    padding: 10px;
}