* {
    font-family: 'Kanit', sans-serif;
}

.navBar {
    padding: 25px;
}

.navbar img {
    margin: 15px;
}

.fixed-top {
    background-color: white;
    border-bottom: 0.7px solid #ececec;
}

.firstContainer {
    height: 700px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image: -webkit-linear-gradient(rgba(68, 194, 233, 0.25) 0%, rgba(68, 150, 233, 0.25) 100%), url("img/bg.jpg");
}

.firstContainer .fadeBg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    width: 100%;
    height: 100%;
}

.firstContainer span {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F5A623;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.firstContainer h1 {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .firstContainer h1 {
        color: white;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }
}

.firstContainer h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.secondContainer {
    width: 100%;
    padding: 40px;
    margin-bottom: 50px;
}

.secondContainer h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bold;
}

.secondContainer img {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.secondContainer p {
    font-size: 22px;
    font-weight: bold;
}

.thirdContainer {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%), url("img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 17px;
}

.thirdContainer table td {
    padding: 10px;
}

.thirdContainer table tr td {
    border: 1px solid white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .thirdContainer {
        padding: 30px;
        font-size: 15px;
    }
    .thirdContainer table td {
        padding: 10px;
    }
}

.fourthContainer {
    width: 100%;
    padding: 40px;
    margin-bottom: 60px;
}

@media (min-width: 1500px) {
    .fourthContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content {
        position: relative;
        text-align: left;
    }
}

.fourthContainer span {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F5A623;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.fourthContainer h3 {
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;
}

.fourthContainer h4 {
    font-weight: bold;
    font-size: 20px;
}

.fourthContainer ol {
    margin-bottom: 30px;
}

.fifthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    text-align: justify;
}

.fifthContainer p {
    padding-left: 20px;
    padding-right: 20px;
}

.fifthContainer h5 {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.fifthContainer h2 {
    font-weight: bold;
    padding: 20px;
}

.footer {
    padding: 10px;
}

/* profile form */

.profileForm {
    margin-top: 100px;
}

.profileForm h2 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #ffffff;
    background-color: #0588cf;
    padding: 10px 10px;
    border-radius: 5px;
}

.profileForm button {
    margin-top: 10px;
}

/* info form */

.infoForm {
    margin-top: 100px;
}

.infoForm h2 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #ffffff;
    background-color: #0588cf;
    padding: 10px 10px;
    border-radius: 5px;
}

.infoForm label {
    margin-top: 5px;
}

.infoForm form {
    margin-top: 120px;
}

.infoForm button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* credit form */

.creditForm {
    margin-top: 100px;
}

.creditForm h2 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #ffffff;
    background-color: #0588cf;
    padding: 10px 10px;
    border-radius: 5px;
}

.creditForm button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* agreement */

.agreement {
    margin-top: 100px;
}

.agreement {
    text-align: justify;
}

.agreement h2 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #ffffff;
    background-color: #0588cf;
    padding: 10px 10px;
    border-radius: 5px;
}

.agreement button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.agreement .content {
    height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

/* thank you */

.thankyou {
    margin-top: 100px;
}

.thankyou .content {
    padding-top: 20px;
}

.thankyou .emphasize {
    margin-top: 20px;
    font-size: 1.25rem;
}

.thankyou button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* upload file */

.uploadFileForm {
    margin-top: 100px;
}

.uploadFileForm h2 {
    font-size: 20px;
    margin: 30px 0 20px 0;
    color: #ffffff;
    background-color: #0588cf;
    padding: 10px 10px;
    border-radius: 5px;
}

.uploadFileForm .action button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* other */

.btn-primary {
    background-color: #0588cf !important;
    border-color: #0588cf !important;
}

.btn-primary:hover {
    background-color: #05659b !important;
    border-color: #055c9b !important;
}

.page {
    text-align: center;
    margin-top: 30px;
}

.progress {
    margin-top: 5px;
    height: 1.5rem !important;
    font-size: 1rem !important;
}

.progress-bar {
    background-color: #0588cf !important;
}

.account_progress {
    width: 33%;
}

.personal_form {
    width: 66%;
}

.loan_form {
    width: 100%;
}

.option-invalid-feedback {
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.form-group .title {
    font-weight: bold;
}

.spinner-container {
    position: fixed;
    z-index: 9999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.spinner-item {
    position: fixed;
    z-index: 10000;
    height: 2em;
    width: 5em;
    overflow: visible;
    margin: auto;
    top: 40px;
    left: 0;
    /*bottom: 0;*/
    right: 0;
}

.button-wrapper>div {
    position: absolute;
}

.form-control.dropzone-container {
    border: 1px dashed;
    cursor: pointer;
}

.form-control.dropzone-container.dropzone-active {
    background-color: #0588cf38;
}

.form-control.dropzone-container p {
    margin: 0px;
    padding: 5px;
}

.form-control.dropzone-container ul {
    padding: 0px;
    list-style-type: circle;
}

.upload-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

#btn-apply {
    margin-bottom: 20px;
}