.navBar {
    border: 1px solid black;
    padding: 25px;
}

.firstContainer {
    height: 700px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstContainer a {
    padding: 10px;
    border-radius: 10%;
    background-color: #F5A623;
    color: white;
}

.secondContainer {
    width: 100%;
    padding: 40px;
}

.secondContainer img {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.thirdContainer {
    width: 100%;
    top: 0;
    left: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url("img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.fourthContainer {
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid gray;
}

.fourthContainer a {
    padding: 10px;
    border-radius: 10%;
    background-color: #F5A623;
    color: white;
}